/* html, body {
  height: 100%; 
  width: 100%;
} */

.accountButton {
  /* max-height: 35px; */
  height: 2em;
  /* height: 0.000000000000001%; */
  /* transform: scaleY(0.9); */
  /* margin-top: 0.5%;
  margin-bottom: 0.5%; */
}

.accountButton:hover {
  background-color: #1769aa;
}

.navAppBar {
  /* background-color: red; */
  /* height: 100%; */
}

.navToolBar {
  /* height:100%; */
  /* background-color: blue; */
}