/* html, body {
  height: 100%; 
  width: 100%;
} */

.accountButton {
  /* max-height: 35px; */
  height: 2.5em;
  width: 5em;
  /* height: 0.000000000000001%; */
  /* transform: scaleY(0.9); */
  /* margin-top: 0.5%;
  margin-bottom: 0.5%; */
}

.accountButton:hover {
  background-color: #1769aa;
}

.navAppBar {
  /* background-color: red; */
  /* height: 100%; */
}

.navToolBar {
  /* height:100%; */
  /* background-color: blue; */
}

.navTitle {
  /* text-align: center; */
  /* margin-left: 0;
  padding-left: 0; */
  position: static;
  /* left: calc(50vw - attr(width px)); */
  /* left: 50vw;
  transform: translateX(-50%); */
}

#navIcon {
  padding: 0;
  margin: 0;
}