html, body {
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;
}

.accountButton {
  /* max-height: 35px; */
  height: 2em;
  /* height: 0.000000000000001%; */
  /* transform: scaleY(0.9); */
  /* margin-top: 0.5%;
  margin-bottom: 0.5%; */
}

.accountButton:hover {
  background-color: #1769aa;
}

.navAppBar {
  /* background-color: red; */
  /* height: 100%; */
}

.navToolBar {
  /* height:100%; */
  /* background-color: blue; */
}

#contentArea {
  margin: 2vh 1vw;
  padding: 2vh 1vw;
  /* background-color: blueviolet; */
  width: 96vw;
  min-height: 400px;
  display: flex;
}

.halfMainArea {
  /* margin: 0.5vw; */
  /* padding: 0.5vw; */
  padding: 1vw;
  width: 46vw;
  /* background-color: red; */
  flex: 1; /* Ratio of widths of flex container children */
  /* float: left; */
}